  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(179, 43, 23);
  }

.adjust-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; /* some horizontal padding */
  text-align: center; /* center text inside */
  border: 1px solid transparent; /* for debugging, add: border: 1px solid red; */
}

.rectangle {
  height: 100px;
  width: 800px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  /* Optional for visibility */
  border: 1px solid #ccc;
  position: relative; /* for labels to be in top left of containers */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  user-select: none;
  font-family: var(--main-font);
  letter-spacing: 0.5px;
}
